.status-ok {
  color: #00ff00;
  font-size: 2em;
  padding: 8px;
}

.status-error {
  color: #ff0000;
  font-size: 2em;
  padding: 8px;
}

button {
  margin-right: 24px;
}

.container {
  gap: 16px;
}