<div class="container centered">
  <div class="app-header">
    <h1>Cubeast Connect</h1>
    <h4>{{ appVersion() }}</h4>
  </div>
  <div class="row">
    <a href="https://cubeast.com" target="_blank">
      <img src="/assets/logo.png" class="logo" alt="Cubeast logo" />
    </a>
  </div>
  <div class="row">
    <button mat-flat-button (click)="discover()">Devices</button>
    <button mat-flat-button (click)="help()">Help</button>
  </div>
  <div class="row padding">
    <mat-slide-toggle (change)="updateStartOnBoot($event.checked)">Launch on system startup</mat-slide-toggle>
  </div>
</div>
