.status-ok {
  color: #00ff00;
  font-size: 2em;
  padding: 8px;
}

.status-error {
  color: #ff0000;
  font-size: 2em;
  padding: 8px;
}

button {
  margin-right: 24px;
}

.app-header {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6em;
}

.row.padding {
  padding-top: 16px;
}
