.logo.angular:hover {
  filter: drop-shadow(0 0 2em #e32727);
}

.status-ok {
  color: #00ff00;
  font-size: 2em;
  padding: 8px;
}

.status-error {
  color: #ff0000;
  font-size: 2em;
  padding: 8px;
}