<div class="container">
  <h1>Cubeast Connect</h1>
  <h4>{{ appVersion }}</h4>
  <div class="row">
    <a href="https://cubeast.com" target="_blank">
      <img src="/assets/logo.png" class="logo" alt="Cubeast logo" />
    </a>
  </div>
  <div class="row">
    <ng-container *ngIf="(status | ngrxPush) === undefined">
      <mat-spinner diameter="20"></mat-spinner>
    </ng-container>
    <ng-container *ngrxLet="status as s; error as e">
      <ng-container *ngIf="e !== undefined">
        <fa-icon class="status-error" [icon]="faCheck"></fa-icon> Something went wrong: {{ e }}
      </ng-container>
      <ng-container *ngIf="e === undefined">
        <fa-icon class="status-ok" [icon]="faCheck"></fa-icon> 
      </ng-container>
      <ng-container *ngIf="s === 0">
        Ready to accept connections
      </ng-container>
      <ng-container *ngIf="s > 0">
        Clients connected: {{ status | ngrxPush }}
      </ng-container>

    </ng-container>
  </div>
  <div class="row">
    <mat-slide-toggle (change)="updateStartOnBoot($event.checked)">Launch on system startup</mat-slide-toggle>
  </div>
</div>
