.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 0;
}

mat-slide-toggle {
  margin-bottom: 20px;
}
.mat-spinner {
  margin-top: 20px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  mat-slide-toggle {
    flex-grow: 1;
  }

  mat-spinner {
    flex-grow: 0;
  }
}

.encryption-key-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
