.header mat-slide-toggle {
  flex-grow: 1;
}

.header mat-spinner {
  flex-grow: 0;
}

.encryption-key-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.no-devices {
  font-size: 1.2em;
  text-align: center;
}