.loading-message {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.loading-message p {
  margin-bottom: 0;
  padding-bottom: 0;
}
